@import "bourbon";
@import "base/grid-settings";
@import "../../bower_components/neat/app/assets/stylesheets/_neat";
@import "base/base";

#masthead, #figures, #content, footer .inner{
  @include container;
}

#masthead h1{
  @include site-title;
}

header.peakaboo{
  background:$teal;
  height: 15em;
  padding: 8em 0 0;
  
  .wrapper{
    @include container;
  }
  
  .header-title{
    @extend h1;
    color: $white;
    
    .section-title{
      
      &:after{
        @include material-icon;
        content:"\e89b";
        bottom: -6px;
        left: 6px;
        display: inline-block;
        position: relative;
      }
      
    }
    
    .chapter-title{
      
    }
  }
  
  &[data-page="main"]:not(.mini) .header-title{
    .chapter-title{
      display:none;
    }
    .section-title{
      &:after{
        content:'';
      }
    }
  }
  
  &.p-hidden{
    .header-title{
      color: transparent;
    }
  }
  
  &.mini{
    height:auto;
    padding:0px;
    position:fixed;
    top: 0%;
    display:none;
    left:0;
    width: 100%;
    z-index:100;
    box-shadow: none;
    
    &.shadow{
      @include transition(box-shadow 1s ease);
      box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.16);
    }
    
    .header-title{
      @extend h4;
      .section-title{
        
        &:after{
          bottom:-4px;
          left:4px;
        }
      }
    }
    
  }
}

.wrapper, #content > .full{
  @include wrapper; 
}

#content > .half{
  @include wrapper;
  @include media($medium-2-screen-up){
    width:50%;
    float:left;
  }
}

h1 a{ 
  
  img{
    height: 1em;
    display: inline-block;
    opacity: 0.8;
    padding-top: 12px;
  }
  
  &:hover{
    img{
      opacity: 1;
    }
  }
}

p.lead{
  @include lead;
}

#content{
  ul.default {
    @extend %default-ul;
  }

  ol.default {
    @extend %default-ol;
  }
  
  ol.circle {
    @extend %circle-ol;
  }
  
  ul.circle {
    @extend %circle-ul;
  }
}


footer.main{
  margin-top:1.5em;
  padding:1.5em 0;
  background-color:$grey-800;
  color:$grey-100;
}
