@import "bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

#masthead, #figures, #content, footer .inner{
  // @include container;
}

#masthead h1{
  @include site-title;
}

@import "base/peakaboo";

.wrapper, #content > .full{
  @include wrapper;
}

#content > .half{
  @include wrapper;
  @include media($medium-2-screen-up){
    width:50%;
    float:left;
  }
}

h1 a{

  img{
    height: 1em;
    display: inline-block;
    opacity: 0.8;
    padding-top: 12px;
  }

  &:hover{
    img{
      opacity: 1;
    }
  }
}

p.lead{
  @include lead;
}

#content{
  ul.default {
    @extend %default-ul;
  }

  ol.default {
    @extend %default-ol;
  }

  ol.circle {
    @extend %circle-ol;
  }

  ul.circle {
    @extend %circle-ul;
  }
}


footer.main{
  margin-top:1.5em;
  padding:1.5em 0;
  background-color:$grey-800;
  color:$grey-100;
}
